#hello{
    background-image: url(../images/backround2.jpg) ;
    background-repeat:no-repeat ;
    background-size: cover;
    overflow-y: hidden;
  }
  .closing{
    z-index: 2;
    position: absolute;
    top: 25%;
    width: 100%;
    background-color:crimson ;
    text-align: center;
    font-size: 200%;
  }
  #gifs{
    position: absolute;
    z-index: 3;
    top: 29%;
    right: 25%;
    width: 50vw;
  }