.car_img{
   
    height:250px ;
    width: 25%;
}
.grid1{
    display: grid;
    grid-template-areas: 
    'top' 'top' 'top' 'top'
    'aside' 'cars' 'cars' 'cars'
    'footer' 'footer' 'footer' 'footer'
    ;
}