*{
    box-sizing: border-box;
}

.car_img {

   
   max-height: 35%;
    width: 28vw;
 display:block;
 position: relative;

}

.grid1 {
    display: grid;
    grid-template-areas:
        'nav' 'nav' 'nav' 'nav'
        'aside' 'cars' 'cars' 'cars'       
        'footer' 'footer' 'footer' 'footer'
    ;
    
    grid-template-columns: repeat(2,auto);
    
    grid-template-rows: repeat(3,auto);
    padding: 0px;
    margin: 0px;
}
.nav{
    grid-area: nav;
    display:flex;   
    position: sticky !important;
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 2;
}
.cars {
    display: grid;
    grid-template-areas: 
    'cars1' 'cars1' 'cars1'
    'cars1' 'cars1' 'cars1';
    grid-template-columns: repeat(3,auto);
    row-gap: 10px;
    width: 100%;
    
}


.clearfix::after{
    content: "";
    clear: both;
    display: table;    
}


.cars_grid {
    grid-area: cars;
    grid-area: cars1;
    justify-content: center;
    z-index: 2;
    
}
@media only screen and (max-width: 950px) {
    .cars{
       
        grid-template-areas:
        'cars1'
        'cars1'
        'cars1' 
        ;
        grid-template-columns:auto;
    }
    .car_img{
        width: 30%;
        height: 45%;
        object-fit: cover;
    }
    
}
.aside{
    grid-area: aside;
    display: grid;
    grid-template-columns: 10vh;
    
}
.footer{
grid-area: "footer";
}



.desc button{

border-color: transparent;
background-color: transparent;
font-size: 20px;
text-transform: capitalize;
color:goldenrod;
float: left ;
margin-left: 2vw;

}

.desc button:hover{
opacity: 50%;
}
button span{
   margin-left: 10vw;
}
.must{
    height: 24%;
}
.cars_grid{
    
   position: relative;
  
 
}
body{
   
   background-color: black;
}

.zoom{
position:absolute;
display: block;
height: 3vh;
width: 2vw;
top: 5px;
left: 25px;

}
.zoom .enlarge{
    
    display: none;
}
.zoom:hover {
    
   
    .enlarge{
        position: relative;
        z-index: 3  ;
        display: block;
        margin-top :25vh;
         /* margin-top: 300px;
         margin-left: 500px; */
        transform: scale(750%);
        

     }
     .enlarge1{
        left: 30vw;
        bottom: 5vw;
     }
     
}

.catagoris{
    width: 10vw;
    min-width: 10vh;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
top: -5px;

}
.overlay{
    position: fixed;
    display: none;
   max-width: 100vw;
    height: 1   vh ;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 7;

 cursor: pointer;
 
}
.embd {
    position: absolute;

  left: 25%;
  width:50% ;
  height: 100%;
  
  z-index: 7;
  overflow-y:scroll;
  
}
.overlay > img{
width: 50%;
height: 50%;
}
.left {
    position: absolute  ;
   
    background-image:  url(../images/left\ arrow.png);
    z-index: 12;
    left: 25%;
    width: 3%;
    height: 7%;
    top:43%;
    background-size: contain;
    opacity: 0.8;
display: block;
background-repeat: no-repeat;
}
.close{
position: absolute;
z-index: 12;
background-image: url(../images/close\ x.png)  ;
width: 2%;
height: 4.5%;
top: 0%;
left: 25%;
background-repeat: no-repeat;
background-size: contain;
background-origin: border-box;

}
.img_overlay{
position :relative;
padding: 2vh 20vw 5vh 1vw;
background-color: black;
object-fit: scale-down;
width: 100%;
height: 100%;
}

.overlay p {
color :white;
display: block;
}
.overlay h1{
color:white ;
}
.overlay button{
    border: 1px white;
    border-radius: 2px;
}