*{
    box-sizing: border-box;
}

.car_img {

   
    height: 35%;
    width: 28vw;
 display:block;
 position: relative;

}

.grid1 {
    display: grid;
    grid-template-areas:
        'nav' 'nav' 'nav' 'nav'
        'aside' 'cars' 'cars' 'cars'       
        'footer' 'footer' 'footer' 'footer'
    ;
    
    grid-template-columns: repeat(2,auto);
    
    grid-template-rows: repeat(3,auto);
    
}
.nav{
    grid-area: nav;
    position: sticky;
    grid-column-start: 1;
    grid-column-end: 3;
}
.cars {
    display: grid;
    grid-template-areas: 
    'cars1' 'cars1' 'cars1'
    'cars1' 'cars1' 'cars1';
    grid-template-columns: repeat(3,auto);
    row-gap: 10px;
    width: 100%;
    
}


.clearfix::after{
    content: "";
    clear: both;
    display: table;    
}


.cars_grid {
    grid-area: cars;
    grid-area: cars1;
    justify-content: center;
    
}
@media only screen and (max-width: 950px) {
    .cars{
       
        grid-template-areas:
        'cars1'
        'cars1'
        'cars1' 
        ;
        grid-template-columns:auto;
    }
    .car_img{
        width: 55vw;
        height: 55%;
    }
    
}
.aside{
    grid-area: aside;
    display: grid;
    grid-template-columns: 50px;
}
.footer{
grid-area: "footer";
}



.desc button{

border-color: transparent;
background-color: transparent;
font-size: 20px;
text-transform: capitalize;
color:goldenrod;
float: left ;
margin-left: 2vw;

}

.desc button:hover{
opacity: 50%;
}
button span{
   margin-left: 10vw;
}
.must{
    height: 24%;
}
.cars_grid{
    
   position: relative;
  
 
}
body{
   
    background: linear-gradient(90deg, rgba(179,216,19,1) 0%, rgba(9,121,26,1) 35%, rgba(0,95,255,1) 100%);
}

.zoom{
position:absolute;
display: block;
height: 3vh;
width: 2vw;
top: 5px;
left: 25px;

}
.zoom .enlarge{
    
    display: none;
}
.zoom:hover {
    
   
     .enlarge{
        position: sticky;
        z-index: 99;
        display: block;
         margin-top: 300px;
         margin-left: 500px;
        transform: scale(1000%);

     }
     
}
body>.zoom:hover{
    background-color: white;
z-index: 98;

}
